@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src:  local('Inter Light'),
    url('/assets/font/Inter/Inter-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 300;
    src:  local('Metropolis Light'),
    url('/assets/font/Metropolis/metropolis_light.otf') format('opentype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src:  local('Inter Regular'),
    url('/assets/font/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src:  local('Inter Medium'),
    url('/assets/font/Inter/Inter-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src:  local('Inter SemiBold'),
    url('/assets/font/Inter/Inter-SemiBold.ttf') format('truetype');
}
