.main{
    .main_content{
        .benefits{
            .benefits__title{
                color: var(--1TCA-BLack, #212529);
                font-size: 36px;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                text-align: center;
                margin-bottom: 20px;
            }
            .benefits__subtitle{
                color:  #999;
                text-align: center;
                font-family: 'Metropolis';
                font-size: 15px;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 45px;
            }
            .row{
                display: flex;
                justify-content: center;
                .benefits_card{
                    max-width: 334px;
                    max-height: 334px;
                    padding: 31px 24px 47px 29px;
                    border-radius: 10px;
                    border: 1px solid #6F7074;
                    border: 1px solid rgba(111, 112, 116, 0.2);
                    transition: fill 0.8s ease;
                    .benefits_card__obj{
                        width: 62px;
                        height: 62px;
                        border-radius: 8px;
                        background-color: #006FF9;
                        padding: 17px;
                        margin-bottom: 36px;
                        transition: fill 0.8s ease;
                        .benefits_svg {
                            & > svg {
                                fill: white;
                                transition: fill 0.8s ease;
                            }
                        }
                    }
                    .benefits_card__title{
                        color: #000;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 14px;
                        transition: fill 0.8s ease;
                    }
                    .benefits_card__subtitle{
                        color: #6F7074;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 23px;
                        transition: fill 0.8s ease;
                    }
                    .benefits_card__link{
                        color: #212529;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 15px;
                        transition: fill 0.8s ease;
                        .benefits_card__black{
                            margin-left: 7px;
                            transition: fill 0.8s ease;
                        }
                        .benefits_card__white{
                            display: none;
                            margin-left: 7px;
                            transition: fill 0.8s ease;
                        }
                    }
                    &:hover {
                        background-color: #006FF9;
                    }
                    &:hover .benefits_card__obj {
                        background-color: white;
                    }
                    &:hover .benefits_card__title, &:hover .benefits_card__link{
                        color: white;
                    }
                    &:hover .benefits_svg path {
                        fill: #006FF9;
                    }
                    &:hover .benefits_card__subtitle {
                        color: #FAFAFA;
                    }
                    &:hover .benefits_card__black {
                        display: none;
                    }
                    &:hover .benefits_card__white {
                        display: inline;
                    }
    
                }
            }
        }
    }
}